# variable
## Creating Variables
- Python has no command for declaring a variable.

- A variable is created the moment you first assign a value to it.

In [2]:
x=3
y=4
print(x,y)
print(x)
print(y)

3 4
3
4

- Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [3]:
x=6
x='silly'
print(x)

silly

# Casting
If you want to specify the data type of a variable, this can be done with casting.

In [4]:
int(3)

3

In [6]:
x=int(4)
y=float(6)
z=str(5)
print(x)
print(y)
print(z)

4
6.0
5

In [7]:
type(x)

int

In [8]:
print(type(y))

<class 'float'>

# Variable Names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Example
- Illegal variable names:

In [10]:
@myvar=3
print(@myvar)

SyntaxError: invalid syntax (1448500840.py, line 1)

In [14]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (2185399839.py, line 1)

# One Value to Multiple Variables
- And you can assign the same value to multiple variables in one line:

In [16]:
x=y=z=u="sadia"
print(x)
print(z)
print(y)
print(u)

sadia
sadia
sadia
sadia

# Many Values to Multiple Variables
- Python allows you to assign values to multiple variables in one line:

In [17]:
x,y,z='orrange','mango','sadia'
print(x)
print(z)
print(y)

orrange
sadia
mango

In [18]:
fruit=['sadia','abdullah']
x,y=fruit
print(x)
print(y)

sadia
abdullah

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [20]:
x = 5
y = 10
print(x + y)

15

# Python Data Types
- there are so many types of pythong like
- string
- float
- int etc

In [21]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [22]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [23]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [24]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
- You can convert from one type to another with the int(), float(), and complex() methods:

- Example
Convert from one type to another:

In [25]:
x=7
y=8.9
z=5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [27]:
a=float(x)
print(a)

7.0

In [28]:

b=complex(x)
print(b)

(7+0j)

In [30]:
c=int(z)
print(c)

TypeError: can't convert complex to int

# Note: You cannot convert complex numbers into another number type.

# Random Number
- Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

## Example
- Import the random module, and display a random number between 1 and 9:

In [31]:
import random

In [33]:
print(random.randrange(0, 9))

8

# expressions

In [34]:
dd=8
t=dd+8
print(t)

16

In [35]:
print(type(t))

<class 'int'>

In [37]:
var='hellow'+' words'
print(var)

hellow words

In [38]:
hell="abc"
v=int(hell)
ptint(v)

ValueError: invalid literal for int() with base 10: 'abc'

In [39]:
kat='123'
k=int(kat)
print(k)

123

In [40]:
type(k)

int

In [41]:
type(kat)

str

# input from user

In [42]:
uni=input('what is your name')
print('hy', uni , 'u r sooo beatifull')

what is your namesadia
hy sadia u r sooo beatifull

# converting user input

In [44]:
inp=input("enter europe floor ? ")
usf=int(inp)+1
print(usf)

enter europe floor ? 8
9