In [1]:
hours=30.0
rate=12.50
pay=hours*rate
print(pay)

375.0

In [2]:
x=2
x=x+2
print(x)

4

In [3]:
x=3.9*x*(1-x)
print(x)

-46.8

In [4]:
type(x)

float

# concatenation

In [5]:
ee='hello '+ 'world'

In [6]:
print(ee)

hello world

# we cannot add in alphabetic string
# we only add in numeric string

In [7]:
ee=ee+1
print(ee)

TypeError: can only concatenate str (not "int") to str

In [11]:
ee=2
ee=ee+1
print(ee)

3

# type

In [12]:
type(ee)

int

# conversion

In [15]:
print(float(99+100))

199.0

In [21]:
i=45
type(i)

int

In [18]:
print(float(i))

42.0

# integer division

In [19]:
print(10/5)

2.0

In [20]:
print(9/2)

4.5

# string conversion

In [22]:
ab='123'
type(ab)

str

In [26]:
abc=int(ab)
type(abc)

int

In [27]:
type(ab)

str

# input from user

In [28]:
sadia=input('enter your name')

enter your namesadia

In [29]:
sadia=input(' what is your name  ')
print("assalamu alaikum  " ,sadia)

 what is your name  sadia
assalamu alaikum   sadia

# converting user type

In [34]:
a=input("cas department floar")
b=int(a) +1
print('paal lab' ,b)

cas department floar2
paal lab 3

In [35]:
a=input("cas department floar")
b=int(a) 
print('paal lab' ,b)

cas department floar2
paal lab 2